.wrapper{
    padding: 10px;
    width: 1100px;
    background-color: #ebebeb;
    margin: auto;
    &_header{
        padding: 5px;
        height: 40px;
        background-color: #919595;
        div{
            font: Arial regular;
            color: #ffffff;
            size:26pt
        }
    }
    .content_wrapper{
        background: white;
    }
    .content_header{
        .left_header{
            display: inline-block;

        }
        .right_header{
            display: inline-block;
            float: right;
            position: relative;
        }

    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  .demo-full-width {    
    width: 100%;    
}  
mat-form-field input{
    height:50px
}
mat-form-field input textarea{
    padding: 5px;
}

.mat-menu-container{
    height: 200px;
    position: absolute;
    top: -27px;
    left: -69px;
    .menu-header{
        padding: 1px 5px;
        background: #eaf3f8;
        color: #919595;
        font-size: 28px;

    }
    .content{
        background: #d5e7f1;
        padding: 5px;
        display: table;
        height: 100%;
    }
    .right-content,.left-content{
        display: table-cell;
        height: 100%;
        // width: 50%;
    }
    .right-content {
        float: right;
    }
    .number-content{
        height: 100%;
        .number-display{
            font-size: 135px;
            color: #05881c;
        }
        .number-notes{
            font-size: 25px;
            color:#47434f;
        }
    }
}
.m-t-10{
margin-top:10px
}
.note-wrapper{
    padding: 10px;
background: #ffffff;
}
.note-container{
    border-bottom: 1px solid #ececec;
    display: table;
    height: 100%;
    width: 100%;
    margin: 21px 0;
    font-size: 14px;
    color:#494e4f;
    .left{
        display: table-cell;
        height: 100%;
    }
    .right{
        display: table-cell;
        height: 100%;
        float: right;
      
    }
    .right_header{
        color:#1b333d;
    }
    .left_header{
        color: #0d9f6e;
        font-size: 19px;
    }
}

.click{
    cursor: pointer;
}
.textarea-css{
    margin-top: 10px;
}