<div class="wrapper">
  <div class="wrapper_header">
    <div>Services</div>
  </div>
  <div class="content_wrapper">
    <div class="content_header clearfix">
      <div class="left_header">
        <span>Notes</span>
      </div>
      <div class="right_header">
        <mat-icon *ngIf="!createNotePanel" (click)="openNoteBookPanel('create')"
          >add</mat-icon
        >
        <mat-icon *ngIf="createNotePanel" (click)="openNoteBookPanel()"
          >remove</mat-icon
        >

        <mat-icon
          [matMenuTriggerFor]="action_buttons"
          (click)="$event.stopPropagation()"
          >reorder</mat-icon
        >
        <!-- <span class="material-icons">
          reorder
          </span> -->
      </div>
      <mat-menu #action_buttons="matMenu" backdropClass="mat-table-menu">
        <ng-container>
          <div class="mat-menu-container">
            <div class="menu-header">Summary</div>
            <div class="content clearfix">
              <div class="left-content">
                <div class="number-content">
                  <span class="number-display"
                    >{{ noteBookData.length
                    }}<span class="number-notes"> Notes</span></span
                  >
                </div>
              </div>
              <div class="right-content">
                <div class="last-update m-t-10">
                  <div class="last-update-text">last updated</div>
                  <div class="last-update-time">{{lastUpdatedNote.time | date:'short'}}</div>
                </div>
                <div class="last-note-update m-t-10">
                  <div class="last-update-text">last Note updated</div>
                  <div class="last-update-time">#{{lastUpdatedNote.id}}-{{lastUpdatedNote.noteTitle}}</div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </mat-menu>
    </div>
    <div class="accordian_content">
      <mat-expansion-panel
        hideToggle
        [expanded]="createNotePanel"
        (opened)="createNotePanel = true"
        (closed)="createNotePanel = false"
      >
        <!-- form for create note -->
        <mat-card class="form-wrapper" [formGroup]="noteForm">
          <mat-card-content>
            <div>
              <section class="example-section">
                <mat-checkbox class="example-margin" formControlName="editable"
                  >Editable?</mat-checkbox
                >
              </section>
              <mat-form-field class="demo-full-width" appearance="outline">
                <input
                  formControlName="noteTitle"
                  matInput
                  placeholder="Add Note Title..."
                />
              </mat-form-field>
              <mat-error
                *ngIf="
                  noteFormControl.noteTitle.touched &&
                  noteFormControl.noteTitle.hasError('required')
                "
                class="error-validation-msg mat-error"
                role="alert"
              >
                Add note Title
              </mat-error>
            </div>
            <div>
              <mat-label>Text</mat-label>

              <mat-form-field class="demo-full-width" appearance="outline">
                <textarea class="textarea-css"
                  formControlName="noteContent"
                  matInput
                  placeholder="Add Note ..."
                  matTextareaAutosize
                  matAutosizeMinRows="6"
                  matAutosizeMaxRows="15"
                ></textarea>
              </mat-form-field>
            </div>
            <button
              mat-raised-button
              color="accent"
              [disabled]="
                !noteForm.valid ||
                !(create || noteFormControl.editable.value == true)
              "
              (click)="addNote(noteForm)"
            >
              Save
            </button>
          </mat-card-content>
        </mat-card>
        <!-- form for create note ends-->
      </mat-expansion-panel>
      <div class="note-wrapper">
        <div class="note-container clearfix">
          <div class="left left_header click">Notes</div>
          <div class="right right_header">Time created</div>
        </div>
        <ng-container *ngFor="let note of noteBookData; let i = index">
          <div
            class="note-container clearfix click"
            (click)="openEditMode(note, i)"
          >
            <div class="left">{{ note.noteTitle }}</div>
            <div class="right">{{ note.time | date: "short" }}</div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
